.logo {
    width: 20rem;
    height: 3rem;
    display: flex;
    margin: auto;
}

.region-section {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
}

.region-section > * {
    border-right: 1px solid black; 
}

.region-section > *:nth-child(5n) {
    border-right: none;
}

.region {
    text-align: center;
}
